{% load static %}


<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% static 'files/User_Creation_Form.xlsx' %}">
          <i class="mdi mdi-login-variant menu-icon"></i>
          <span class="menu-title">User Creation Form</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% static 'files\Charter Life Insurance Premium Collection-Manual.pdf' %}">
          <i class="mdi mdi-file-document-box menu-icon"></i>
          <span class="menu-title">User Manual</span>
        </a>
      </li>
	  <li class="nav-item nav-category">Contact Person </li>
	  <li class="nav-item nav-category">Najmus Sakib Borshon - 01798599869</li>
	  <li class="nav-item nav-category">Nusher Jamil Kazi - 01937148058 </li>
      
      
     

 
    </ul> 
  </nav>
  <!-- partial -->
